@import "mixins";

.b-page {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: center;

  width: 80%;
  margin: 0 auto;

  .b-post {
    display: flex;
    flex-direction: column;

    width: 40%;
    border: 1px solid #ccc;
    margin: 2rem;

    position: relative;
    overflow: hidden;

    min-height: 300px;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;

    .b-attachment {
      width: 100%;
      position: absolute;

      left: 50%;
      top: 0;

      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);

      .attachment {
        width: 100%;
      }
    }

    .description {
      z-index: 2;
      position: absolute;
      padding: 1.5rem;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      width: 100%;
      min-height: 50%;

      vertical-align: middle;

      bottom: 0;
      left: 0;

      background: rgba(255, 255, 255, .99);

      -ms-word-wrap: break-word;
      word-wrap: break-word;

      border-top: 1px solid #ccc;

      font-size: .9rem;

      &.middle {
        left: 0;
        top: 50%;
        min-height: 1px;
        height: auto;

        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);

        border: 0;
      }

      .post-link {
        color: #2a5885;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}