@import "mixins";

@font-face {
    .createFont('ProximaNova', @ProximaNovaBold);
}

@font-face {
    .createFont('ProximaNova', @ProximaNovaRegular);
}

@font-face {
    .createFont('ProximaNova', @ProximaNovaSemibold);
}

@font-face {
    .createFont('ProximaNova', @ProximaNovaLight);
}

@font-face {
    .createFont('ALSRubl', @ALSRubl);
}
