@import "mixins";

html {
    overflow-x: hidden;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: default;
    font-family: @ProximaNovaRegular;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
    font-family: inherit;
    font-size: inherit;

    cursor: pointer;
}
