.b-breadcrumbs {
    margin-top: 24px;

    .signpost {
        .font(12px, @OpenSans, #4c4c4c, inherit, inherit, 700);
        margin-right: 5px;
    }

    .items-container {
        display: inline;
        list-style: none;
        .inline-list(bottom);

        .item {
            position: relative;
            display: inline-block;
            .font(14px, @OpenSans, @gray, 1.2, normal, normal);
            margin-right: 24px;
            text-decoration: none;

            &:first-child {
                &:before {
                    display: none;
                }
            }

            .text {
                .font(12px, @OpenSans, @blue);
                border-color: @gray;
                text-decoration: none;
                color: inherit;

                &:visited {
                    color: inherit;
                }
            }

            .g-icon {
                position: absolute;
                top: 5px;
                right: -15px;
                font-size: 9px;
            }
        }
    }
}

.b-menu {
    .items {

    }

    .item {
        .sub-items {

        }

        .sub-item {

        }
    }

    .link {

    }
}

.b-pagination {
    .items {
        display: inline-block;
        color: @black;
        font-size: 0;
        border-radius: 2px;
        border: 1px solid @dark;

        .item {
            min-width: 34px;
            box-sizing: border-box;
            .font(14px, @OpenSans, @black);
            vertical-align: top;
            text-align: center;
            display: inline-block;
            border-left: 1px solid @dark;

            &.active {
                background-color: #f6ea7c;
                cursor: default;

                &:hover {
                    background-color: #f6ea7c;
                }
            }

            &.arrow {
                min-width: 24px;
                position: relative;
                height: 28px;
                line-height: 27px;

                .link {
                    display: block;
                    height: 28px;
                }
            }

            &:hover {
                background-color: #eaeaea;
            }

            &:first-child {
                border-left: none;
            }

            &:last-child {
                border-left: none;

                .link {
                    border-left: 1px solid @dark;
                }
            }

            &.dots {
                &:hover {
                    background-color: @white;
                }
            }

            .link {
                text-decoration: none;
                color: inherit;
                display: inline-block;
                padding: 7px 5px;
                width: 100%;
                box-sizing: border-box;
            }

            .g-icon {
                font-size: 11px;
                position: absolute;
                top: 8px;
                left: 10px;
            }
        }
    }
}

.b-slider {
    position: relative;

    .slider-wrapper {
        position: relative;
        overflow: hidden;
    }

    .slides {
        .inline-list();
        .transition(transform, 0.3s);
    }

    .slide {
        box-sizing: border-box;
    }

    .left,
    .right {
        font-size: 24px;
        .center-position-vertically();
        z-index: 10;
        color: @mercury;
        cursor: pointer;
        .transition(color);
        .transition(opacity);

        &.disabled {
            cursor: default;
            opacity: 0;
        }

        &:hover {
            color: @jasper;
        }

        &.big {
            font-size: 45px;
        }
    }

    .left {
        left: -70px;

        &.big {
            left: -85px;
        }
    }

    .right {
        right: -70px;

        &.big {
            right: -85px;
        }
    }

    .bulls {
        .center-position-horizontally();
        bottom: 80px;
        .inline-list();
    }

    .bull {
        position: relative;
        width: 40px;
        height: 40px;

        &.active:before {
            transform: scale(16/12);
            border: 6px solid @palatinate;
        }

        &:before {
            .center-position(12px);
            .pseudo(12px);
            box-sizing: border-box;
            border-radius: 100%;
            border: 2px solid @white;
            cursor: pointer;
            .transition(border);
            .transition(transform);
        }
    }
}

.b-content-video {
    .video-wrapper {
        position: relative;
        padding-bottom: 56.25%;
    }

    .video-caption {
        padding: 13px 2px 13px 2px;
        .font(14px, @LatoRegular, @manatee, 24px, 0.2px);
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.b-map {
    position: relative;
    height: 480px;

    .map {
        height: 100%;
        background-color: @white !important;
    }
}
