{% extends '//site/templates/layout' %}

{% block js %}
	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function () {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-65369672-1', 'auto');
		ga('send', 'pageview');

	</script>
{% endblock %}

{% block content %}

	<div class="jumbotron">
		<h1>{{ data.title }}</h1>

		<p>{{ data.content | raw }}</p>

		<p>
			<a class="btn btn-primary btn-lg" data-track-event="click, test-button" href="/" role="button">Learn more</a>
		</p>
	</div>
{% endblock %}
