{% extends '//site/templates/layout' %}

{% block js %}
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
{% endblock %}

{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-xs-2">
				<div class="list-group map-addresses">
					{% for item in data.locations %}
						<button type="button" class="list-group-item" data-coords="{{ item.coords | json_encode }}">{{ item.name }}</button>
					{% endfor %}
				</div>
			</div>
			<div class="col-xs-10">
				<div class="canvas-map"></div>
			</div>
		</div>
	</div>



{% endblock %}
