{% extends '//site/templates/layout' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="b-slider">
				<div class="slider-inner">
					{% for item in data.images.items %}
						<div class="slide">
							<img src="{{ item.media.imageUrl }}" alt="" class="ip_tooltipImg"/>
						</div>
					{% endfor %}
				</div>
				<div class="slide-button left js-slide-left" data-direction="-1">
					<i class="icon icon-arrow-left"></i>
				</div>
				<div class="slide-button right js-slide-right" data-direction="1">
					<i class="icon icon-arrow-right"></i>
				</div>

				<div class="pagination"></div>
			</div>
		</div>
	</div>
{% endblock %}
