<!DOCTYPE html>
<html>

<head>
    {{ settings.htmlHeadPrefix | raw }}

    <meta charset="utf-8">

    {% set pageTitlePrefix = settings.pageTitlePrefix %}
    {% set pageTitleSuffix = settings.pageTitleSuffix %}
    {% include '//site/templates/layout-title' %}

    <link href="{{ baseUrl }}/favicon.ico" type="image/x-icon" rel="shortcut icon">

    {% set urlPrefix = baseUrl ~ '/site/assets' %}

    <link href="{{ urlPrefix }}/css/style.css" type="text/css" rel="stylesheet">

    <script src="{{ urlPrefix }}/js/vendor-bundle.js" type="text/javascript"></script>

    {% block js %}{% endblock %}

    <script src="{{ urlPrefix }}/js/app.js" type="text/javascript"></script>

    {{ settings.htmlHeadSuffix | raw }}
</head>

<body class="{{ extraBodyCssClasses }}">

{{ settings.htmlBodyPrefix | raw }}

<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">FrontEnd</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {{ navigationRenderer.render | raw }}
                    {#<form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>#}
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="b-footer">
                <div class="well well-lg">
                    Работает на CMS.
                </div>
            </div>
        </div>
    </div>
</div>

{{ settings.htmlBodySuffix | raw }}

</body>

</html>
