<title>{% spaceless %}
        {% set pageTitlePrefixDivider = htmlTitle or pageTitleSuffix ? ' &mdash; ' : '' %}
        {% set pageTitleSuffixDivider = htmlTitle ? ' &mdash; ' : '' %}
        {{- pageTitlePrefix }}
        {{- pageTitlePrefix ? pageTitlePrefixDivider | raw : '' }}
        {{- htmlTitle }}
        {{- pageTitleSuffix ? pageTitleSuffixDivider | raw : '' }}
        {{- pageTitleSuffix }}
    {% endspaceless %}</title>

<meta name="description" content="{{ htmlMetaDescription }}">
<meta name="keywords" content="{{ htmlMetaKeywords }}">
