{% if level == 1 %}
<ul class="items nav navbar-nav level-{{ level }}">
    {% else %}
    <ul class="items level-{{ level }}">
        {% endif %}

        {% for item in items %}
            <li class="item{{ item.isActive ? ' active' : '' }}{{ item.isSelected ? ' selected' : '' }}{{ loop.first ? ' first' : '' }}{{ loop.last ? ' last' : '' }}">
                {% if item.url and item.node != node %}
                    <a href="{{ item.url }}">{{ item.title }}</a>
                {% else %}
                    <span class="label">{{ item.title }}</span>
                {% endif %}
                {{ item.childHtml | raw }}
            </li>
        {% endfor %}

        {% if level != 0 %}
    </ul>
    {% else %}
</ul>
{% endif %}
